[submodule "submodules/swiftui-snap-dragging-modifier"]
	path = submodules/swiftui-snap-dragging-modifier
	url = https://github.com/FluidGroup/swiftui-snap-dragging-modifier
[submodule "submodules/Brightroom"]
	path = submodules/Brightroom
	url = https://github.com/FluidGroup/Brightroom
	branch = main
[submodule "submodules/swift-state-graph"]
	path = submodules/swift-state-graph
	url = https://github.com/VergeGroup/swift-state-graph
